<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
     <context:component-scan base-package="com.test.spring.context.advanced"/> <!-- new feature in spring2.5 for auto detect -->
     
     <bean name="testBean" class="com.test.spring.context.conventional.TestBean" autowire-candidate="true/false">
     	<property name="id" value="17"/>
     	<property name="name" value="Gurunath"/>
     </bean>
     
     <bean name="printClass" class="com.test.spring.context.conventional.PrintClass" 
     		scope="prototype/request/session/global-session"
     		init-method="initializeBean"
     		destroy-method="destroyTheBean"
     		autowire="byName/byType/constructor/autodetect"> <!--  -->
     	<constructor-arg value="111"/>
     	<constructor-arg ref="hi"/>
     	<property name="testBean" ref="testBean"/>
     	<property name="nc" value="nextClass"/>
     	<property name="ls">
	     	<list>
	     		<value>11</value>
	     		<ref bean="testBean"/>
	     	</list>
     	</property>
     	<property name="set">
	     	<set>
	     		<value>11</value>
	     		<ref bean="testBean"/>
	     	</set>
     	</property>
     	<property name="map">
     		<map>
     			<entry key="hi">
     				<value>123</value>
     			</entry>
     			<entry key="hello" value="245"/>
     			<entry key="ref" value-ref="testBean"/>
     			<entry key-ref="nextClass" value-ref="testBean"/>
     		</map>
     	</property>
     	<!--java.util.Properties allows only string as value-->
     	<property name="prop">
     		<props>
     			<prop key="hi">string</prop>
     		</props>
     	</property>
     	<!--Setting null value-->
     	<property name="nullValue"><null/></property>        
     </bean>     
</beans>